extends layoutNavBar

block content
      h2.
          Rooms:
      ul
          each room, i in rooms
              li
                  p ---------------------------------------------
                  p Room ID: #{room._id}
                  p Room Type: #{room.roomstyle}
                  p Room Number: #{room.room_number}
                  ul
                      each reserved, i in room.reserved
                          li
                              p Start Date: #{reserved.from}
                              p End Date: #{reserved.to}


                  




            
